

<div class="div1">
	<h3>Сайт пошуку роботи №1 в Україні! </h3>
	<p>Все ще не можеш знайти роботу своєї мрії? Тоді тобі до нас, у нас ти швидко знайдеш вакансію для себе</p>

    <div class="row">
  <div class="col btn btn-light"><%= link_to "Розмістити резюме", new_employeesparam_path, class: "nav-link text-dark" %></div>
  <div class="col btn btn-light"><%= link_to "Моє резюме", employeesparam_path(current_user), class: "nav-link text-dark"  %></div>
  <div class="col btn btn-light"><%= link_to "Розмістити вакансію", new_employer_path, class: "nav-link text-dark" %></div>
</div>
</div>



 


