// Place all the styles related to the employers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.vak {
  color: black;
  text-align: left;
  font-size: 50px;
}
h2 {
  color: black;
  text-align: left;
}
h3 {
  color: black;
  text-align: left;
}
.Vakansia {

  padding: 40px;
  margin-top: 20px;
}
li{
    list-style: none;
  }
  .cat {
    margin-left: 30px;
  }
