// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.div1 {
	color: white;
	background: #606060;
}
div2 {
	
}
.p1 {
	color: black;
}
h2 {
	
}
.form-control input[type=text]  {
	padding: 5px;
	width: 30%;
}
li{
    list-style: none;
  }
 .col {
      

 }