

<p class="vak">Всі запити, які були знайдені</p>


<% @category.employers.each do |x| %>
<div class="div3">
  <strong><h3><%= x.title %></h3></strong><br>
  <strong><h5><%= x.company %></h5></strong>
  <strong><h5><%= x.phone %></h5></strong>
  </div><br>
<% end %>
